<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<!-- <app-sale-invoice-report *ngIf="printingData" [SaleDetails]="printingData"></app-sale-invoice-report>
<app-sale-refund-report *ngIf="printingData1" [SaleDetails]="printingData1"></app-sale-refund-report> -->

<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">   
    <div class="card">
        <p-toolbar styleClass="p-mb-4 toolbar-padding" >

            <ng-template pTemplate="left">
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="reportfilter"
                  value="1"
                  [(ngModel)]="selectedFilter"
                  (onClick)="filterReport()"
                  inputId="checkb1"
                ></p-radioButton>
                <label for="checkb1">{{ "ORDERS.ALLORDERS" | translate }}</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="reportfilter"
                  value="2"
                  [(ngModel)]="selectedFilter"
                  (onClick)="filterReport()"
                  inputId="checkb2"
                ></p-radioButton>
                <label for="checkb2">{{ "ORDERS.ONLINEORDERS" | translate }}</label>
              </div>
              <div class="p-field-radiobutton">
                <p-radioButton
                  name="reportfilter"
                  value="3"
                  [(ngModel)]="selectedFilter"
                  (onClick)="filterReport()"
                  inputId="checkb3"
                ></p-radioButton>
                <label for="checkb3">{{ "ORDERS.VPORDERS" | translate }}</label>
              </div>
      
            </ng-template>  
            <ng-template pTemplate="right">
                <div class="p-field p-col">
                    <label>{{'GENRIC.SEARCHBYDATE'| translate}}</label>
                    <p-dropdown  placeholder="Select Search By Date" [options]="SearchByDateDropdown" (onChange)="onChangeDate($event)" [(ngModel)]="selectedSearchByDateID" autoWidth="false" [style]="{'width':'200px'}"  required filter="true" >
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle; margin-left: .5em" >{{item.label}}</span>
                            </ng-template>
                    </p-dropdown> 
                </div>
            </ng-template>
        </p-toolbar>
        <!-- <h4>Row Expand</h4> -->

        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        (emitHref)="Details($event)"
        (emitHref2)="OriginalInvoiceID($event)"
        [data]="AllSalelist" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
        [rowGroup]="rowGroup"  [rowsPerPageOptions]="rowsPerPageOptions" [row]='25'>
        </app-genric-table>

        <!-- <p-table #dt [value]="AllSalelist"  [rows]="rows"  [totalRecords]="totalRecords" [(first)]="first"   
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [loading]="loading"  [showCurrentPageReport]="true"  dataKey="id" 
        [rowsPerPageOptions]=" [25, 50, 100, 200, 500, 1000, 5000]"  
        [(contextMenuSelection)]="selectedSale" [contextMenu]="cm"
        [paginator]="true"  [rowHover]="true" styleClass="p-datatable-responsive-demo"
        [filterDelay]="0" [globalFilterFields]="['ID','OriginalSaleID','Customer','dTotalSaleValue','SaleDate','CreatedAt']">

     
     <ng-template pTemplate="caption">
         <div class="p-d-flex p-ai-center p-jc-between">
                <div class="p-d-flex">
                        <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                        
                    </div>
             <span class="p-input-icon-left">
             <i class="pi pi-search"></i>
             <input pInputText (input)="dt.filterGlobal($event.target.value, 'contains')" type="text" placeholder="Global Search"/>
         </span>
         </div>
     </ng-template>
      
   

             <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="ID" > Return Invoice No <p-sortIcon field="ID"></p-sortIcon></th>
                    <th pSortableColumn="OriginalSaleID" > Original Invoice No <p-sortIcon field="OriginalSaleID"></p-sortIcon></th>
                    <th pSortableColumn="Customer" > Company <p-sortIcon field="Customer"></p-sortIcon></th>
                    <th pSortableColumn="dTotalSaleValue" > Sale Price <p-sortIcon field="dTotalSaleValue"></p-sortIcon></th>
                    <th pSortableColumn="SaleDate" > Sale Date <p-sortIcon field="SaleDate"></p-sortIcon></th>
                    <th pSortableColumn="CreatedAt" > Refund Date <p-sortIcon field="CreatedAt"></p-sortIcon></th>

                </tr>
   
                <tr>
                 
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'ID', 'contains')" placeholder="Search by Retun Invoice No" class="p-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'OriginalSaleID', 'contains')" placeholder="Search by Original Invoice No" class="p-column-filter">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'Customer', 'contains')" placeholder="Search by Company" class="p-column-filter">
                    </th>
                    <th>                        
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'dTotalSaleValue', 'contains')" placeholder="Search by Sale Price" class="p-column-filter">
                    </th>
                    <th>                        
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'SaleDate', 'contains')" placeholder="Search by Sale Date" class="p-column-filter">
                    </th>
                    <th>                        
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'CreatedAt', 'contains')" placeholder="Search by Refund Date" class="p-column-filter">
                    </th>
                    
                    
                </tr>
         </ng-template>
         <ng-template pTemplate="body" let-ReturnSaleModel >
            <tr [pContextMenuRow]="ReturnSaleModel">
                <td><a href="javascript:void(0)"  (click)="Details(ReturnSaleModel.ID)">{{ReturnSaleModel.ID}}</a></td>
                <td><a href="javascript:void(0)"  (click)="OriginalInvoiceID(ReturnSaleModel.OriginalSaleID)">{{ReturnSaleModel.OriginalSaleID}}</a></td>

                <td>{{ReturnSaleModel.Customer}}</td>
                 <td><span >€ </span>  {{ReturnSaleModel.dTotalSaleValue}}</td>
                 <td>{{ReturnSaleModel.SaleDate}}</td>
                 <td>{{ReturnSaleModel.CreatedAt}}</td>

             </tr>
         </ng-template>

     </p-table> -->
 
 </div>
</div>
<p-dialog header="Select Dates" [(visible)]="isCustomDate" modal="modal"  showEffect="fade"
    [style]="{width: '50vw',height:'700px'}">
    <app-datepickerpopup (onSelectValue)='selectValue($event)'></app-datepickerpopup>
</p-dialog>
