
 <div class="progress-spinner" *ngIf="IsSpinner">
    <p-progressSpinner></p-progressSpinner>
</div>

<!-- product variant-->

<p-overlayPanel #op1>
    <img src="assets/demo/images/nature/nature1.jpg" alt="Nature 1" />
</p-overlayPanel>

<p-toast></p-toast>

<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-dialog header="Reporting Password " *ngIf="displayPassword" [(visible)]="displayPassword" modal="modal"
showEffect="fade" [style]="{ width: '40vw' }">
<div class="p-field p-col-12 p-md-12">
    <b> <span class="p-h">{{PaymentText}} Current Password:</span></b> <span class="p-n"> {{PasswordText}}</span>
 </div>


</p-dialog>

<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">
    <div class="card">
        
        <p-toolbar styleclass="p-mb-4" *ngIf="IsAdd">
           
            <div >
                <h5>{{'EXTRAS.REPORTINGPASSWORD'| translate}}</h5>

                <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="firstname1">{{'MANAGEDPRODUCT.NAME'| translate}}</label>
                            <input id="firstname5"  disabled="true" type="text" pInputText [(ngModel)]="paymentPassword.Name">
                        </div>
                        <div class="p-field p-col">
                            <label for="lastname1">{{'EXTRAS.PASSWORD'| translate}}</label>
                            <input id="lastname5" type="password" pInputText [(ngModel)]="paymentPassword.Password">
                        </div>
                        <div class="p-field" style="margin-right: 1rem;margin-top: 1.7rem">
                            <button pButton pRipple type="button" icon="fas fa-plus" label="{{'Update'| translate}}" (click)="UpdatePaymentPassword();"icon="fas fa-plus" class="p-button-raised p-mr-2"></button>
                    
                        </div>
                        <div class="p-field" style="margin-right: 1rem;margin-top: 1.7rem">
                            <button pButton pRipple label="{{'MANAGEDPRODUCT.CLOSE'| translate}}" icon="fas fa-times" class="p-button-raised p-mr-2" (click)="CloseAddSection();"></button>
                        </div>
                    </div>

            </div>

        </p-toolbar>
        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        [data]="AllPaymentPasswordList" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
            [rowsPerPageOptions]="rowsPerPageOptions" [row]='25'>
        </app-genric-table>
       
    
    </div>
</div>
