<p-toast></p-toast>
<div class="progress-spinner" *ngIf="IsSpinner">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="p-col-12 p-m-0 p-p-0 p-shadow-2">
  <div class="card">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card">
          <p-toolbar styleClass="p-mb-4">
            <!-- <ng-template pTemplate="left"> -->
            <div class="p-col-12 p-md-1 pad-0">
              <div class="p-col-12">
                <button pButton pRipple label="cancel" (click)="CloseThis()" icon="fas fa-sync"
                  class="p-button-raised p-mr-2"></button>
              </div>
            </div>
            <!-- </ng-template> -->
            <!-- </p-toolbar>

          <p-toolbar styleClass="p-mb-4"> -->
            <div class="p-col-12 p-md-4 pad-0">
              <div class="p-col-12">
                <label for="firstname1">Company</label>

                <div class="p-grid">
                  <div class="p-col-10">
                    <ng-select [items]="filteredCustomer" [virtualScroll]="true" bindLabel="label"
                      [(ngModel)]="selectedCustomer" [searchFn]="dataFunc"
                      (ngModelChange)="onSelectCustomerDataBinding($event)">
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span>{{item.label}}</span>
                      </ng-template>
                    </ng-select>

                  </div>
                  <div class="p-col-2"><i class="pi pi-search search" (click)="OpenCustomerDialog();"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 p-md-4 pad-0">
              <div class="p-col-12">
                <div>Customer</div>
                <div>{{ txtCustomer }}</div>
                <div>{{ txtCustomerAddress }}</div>
              </div>
            </div>
            <div class="p-col-12 p-md-3 pad-0">
              <div class="p-col-12">
                <div>Current Balance</div>
                <div style="color: red" [ngStyle]=" txtCurrentBalance > 0 && {'color': '#32CD32'}">
                  <span>€ </span> {{ txtCurrentBalance | number:'1.2-2' }}
                </div>
              </div>
            </div>
          </p-toolbar>
          <div class="p-col-12">
            <div class="card">
              <div class="p-grid">
                <div class="p-col-3 pad-0">
                  <div class="p-col-12">
                    <div> Add Balance </div>
                    <div class="p-input-icon-left">
                      <i class="fas fa-address-book"></i>
                      <input type="number" name="balance" id="balance" [(ngModel)]="EnteredBalance"
                        style="width: 350px;" (blur)="calculatePayment()" pInputText placeholder="Enter Balance" />
                    </div>
                  </div>
                </div>
                <div class="p-col-3 p-md-3 pad-0">
                  <div class="p-col-12">
                    <div> Remarks </div>
                    <div class="p-input-icon-left">
                      <i class="fas fa-address-book"></i>
                      <input type="text" name="remarks" id="remarks" [(ngModel)]="Remarks" pInputText
                        style="width: 350px;" placeholder="Enter Remarks" />
                    </div>
                  </div>
                </div>
                <div class="p-col-3 p-md-3 pad-0">
                  <div class="p-col-12">
                    <div>Attachments</div>
                    <div class="p-buttonset">
                      <button pButton pRipple (click)="AttachfileFunction()" label="Attachments" icon="fas fa-plus"
                        style="width: 150px;" class="p-button-raised p p-mr-2"></button>
                    </div>
                  </div>
                </div>
                <div class="p-col-3 p-md-3 pad-1">
                  <div class="p-col-12">
                    <button pButton pRipple label="update" (click)="UpdatePaymentMain()" icon="fas fa-sync"
                      style="width: 150px;" class="p-button-raised p-mr-2"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p-table [value]="CustomerOpenInvoicesList" dataKey="id" editMode="row">
            <ng-template pTemplate="header">
              <tr>
                <th>InvoiceNo</th>
                <th>DueDate</th>
                <th>Total</th>
                <th>Paid</th>
                <th>Remaining</th>
                <th>AddedPayment</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customerinvoice let-editing="editing" let-ri="rowIndex">
              <tr>
                <td>
                  <a href="javascript:void(0)" (click)="RedirectToSaleDetail(customerinvoice.SaleID)">{{
                    customerinvoice.SaleID }}</a>
                </td>
                <td>
                  {{ customerinvoice.DueDate | date: "dd.MM.YYYY HH:MM" }}
                </td>
                <td>
                  <span>€ </span> {{ customerinvoice.dTotalAmount | number:'1.2-2'  }}
                </td>
                <td>
                  <span>€ </span> {{ customerinvoice.dPaidAmount | number:'1.2-2' }}
                </td>
                <td>
                  <span>€ </span> {{ customerinvoice.dRemainingAmount | number:'1.2-2' }}
                </td>
                <td pEditableColumn>
                  <input pInputText type="number" [(ngModel)]="customerinvoice.purchaseAmount" style="width: 85px" />
                </td>
                <td>
                  <button type="button" (click)="UpdateRowClick(customerinvoice, ri)" pButton icon="fas fa-sync"
                    label="Update"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <p-toolbar styleClass="p-mb-4">
            <div class="p-col-12 p-md-4 pad-0">
              <div class="p-col-12">
                <div>Old Clearable Amount</div>
                <div>
                  <span>€ </span> {{ txtOldClearableAmount | number:'1.2-2' }}
                </div>
              </div>
            </div>
            <div class="p-col-12 p-md-4 pad-0">
              <div class="p-col-12">
                <div>New Clearable Amount</div>
                <div>
                  <span>€ </span> {{ txtNewClearableAmount | number:'1.2-2' }}
                </div>
              </div>
            </div>
            <div class="p-col-12 p-md-4 pad-0">
              <div class="p-col-12">
                <div>Total Clearable Amount</div>
                <div>

                  <span>€ </span> {{ txtTotalClearableAmount | number:'1.2-2' }}
                </div>
              </div>
            </div>
          </p-toolbar>
        </div>
      </div>

    </div>

    <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems"
      [data]="AllCustomerLedgerlist" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
      (emitAttachment)="DisplayAttachment($event)" [rowsPerPageOptions]="rowsPerPageOptions" [row]="25">
    </app-genric-table>
  </div>
</div>

<p-dialog header="Customer" [(visible)]="displayCustomerDialog" modal="modal" showEffect="fade"
  [style]="{ width: '60vw' }">
  <div class="primeng-datatable-container">
    <p-table #dt [value]="AllCustomersList" [rows]="rows" [totalRecords]="totalRecords" [(first)]="first"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
      dataKey="id" [rowsPerPageOptions]="[25, 50, 100, 200, 500, 1000, 5000]" [paginator]="true" [rowHover]="true"
      styleClass="p-datatable-responsive-demo" [filterDelay]="0"
      [globalFilterFields]="['FirstName', 'LastName', 'sCompanyName']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search Customer..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="FirstName">
            Customer <p-sortIcon field="FirstName"></p-sortIcon>
          </th>
          <th pSortableColumn="sCompanyName">
            Company <p-sortIcon field="sCompanyName"></p-sortIcon>
          </th>
          <th pSortableColumn="Address">
            Address <p-sortIcon field="Address"></p-sortIcon>
          </th>
          <th pSortableColumn="PhoneNo">
            Phone <p-sortIcon field="PhoneNo"></p-sortIcon>
          </th>
          <th pSortableColumn="CurrentBalance">
            Current Balance <p-sortIcon field="CurrentBalance"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr (click)="SelectRowCustomer(customer)">
          <td>{{ customer.FirstName + " " + customer.LastName }}</td>
          <td>
            {{
            customer.sCompanyName === "" || customer.sCompanyName === null
            ? "None"
            : customer.sCompanyName
            }}
          </td>
          <td>
            {{
            customer.City === "" || customer.City === null
            ? customer.Address
            : customer.Address + ", " + customer.City
            }}
          </td>
          <td>{{ customer.PhoneNo }}</td>
          <td>
            <span>€ </span> {{
            (customer.CurrentBalance === null || customer.CurrentBalance < 0 ? "0" : customer.CurrentBalance)  | number:'1.2-2'  }} </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
<p-dialog header="DocumentAttachment" [(visible)]="AttachDocumentPopDisplay" modal="modal" showEffect="fade"
  [style]="{ width: '65vw' }">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <h5>Document</h5>
        <p-fileUpload name="demo[]" (onSelect)="onUpload($event)" #form (onClear)="onClear(form)" maxFileSize="1000000"
          customUpload="true">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog header="Password" *ngIf="displayPasswordPopup" [(visible)]="displayPasswordPopup" modal="modal"
  showEffect="fade" [style]="{ width: '30vw' }">
  <div class="">
    <div class="card">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="firstname1">Password</label>
          <input pInputText type="password" [(ngModel)]="password" />
        </div>
        <br />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col" style="margin-left: 20px">
        <button pButton pRipple label="Submit" icon="fas fa-sync" (click)="PasswordSubmit()"
          class="p-button-raised p p-mr-2"></button>
      </div>
    </div>
  </div>
</p-dialog>