
 <div class="progress-spinner" *ngIf="IsSpinner">
    <p-progressSpinner></p-progressSpinner>
</div>

<!-- product variant-->

<p-overlayPanel #op1>
    <img src="assets/demo/images/nature/nature1.jpg" alt="Nature 1" />
</p-overlayPanel>

    
<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">
    <div class="card">
        <!-- <h4>Row Expand</h4> -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">

                <button *ngxPermissionsOnly="ExtrasPermission.AddPaymentCondition" pButton pRipple label="{{'EXTRAS.ADDPAYMENTCONDITION'| translate}}" (click)="AddPaymentCondition();" icon="fas fa-plus" class="p-button-raised  p-mr-2"></button>
                
            </ng-template>
        </p-toolbar>
        <p-toolbar styleclass="p-mb-4" *ngIf="IsAdd">
            
            <div >
                <h5>{{'EXTRAS.PAYMENTCONDITION'| translate}}</h5>

                <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="firstname1">{{'EXTRAS.PAYMENTCONDITION'| translate}}</label>
                            <input id="firstname5" type="text" pInputText [(ngModel)]="paymentCondition.Name">
                        </div>
                       
                        <div class="p-field p-col">
                            <label for="lastname1">{{'EXTRAS.DESCRIPTION'| translate}}</label>
                            <input id="lastname5" type="text" pInputText [(ngModel)]="paymentCondition.Description">
                        </div>
                        <div class="p-field" style="margin-right: 1rem;margin-top: 1.7rem">
                            <button pButton pRipple type="button" icon="fas fa-plus" label="{{'EXTRAS.SAVE'| translate}}" (click)="SaveUpdatePaymentConditionDetails();"icon="fas fa-plus" class="p-button-raised p-mr-2"></button>
                    
                        </div>
                        <div class="p-field" style="margin-right: 1rem;margin-top: 1.7rem">
                            <button pButton pRipple label="{{'EXTRAS.CLOSE'| translate}}" icon="fas fa-times" class="p-button-raised p-mr-2" (click)="CloseAddSection();"></button>
                        </div>
                    </div>

            </div>

        </p-toolbar>
        
       
        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        [data]="AllPaymentConditionList" [columnsData]="columns" (emitSwitch)="UpdatePaymentConditionStatus($event)">
        </app-genric-table>
    
    </div>
</div>
