<p-toast></p-toast>
<div class="progress-spinner" *ngIf="IsSpinner">
    <p-progressSpinner></p-progressSpinner>
</div>

<!-- <p-contextMenu #cm [model]="items"></p-contextMenu> -->

<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">
    <div class="card">
        <!-- <h4>Row Expand</h4> -->
        <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                     <!-- <button pButton pRipple label="{{'CUSTOMERPAYMENT.DIRECTPAYMENT'| translate}}" *ngxPermissionsOnly="CustomerPermission.DirectPayments" (click)="DirectPayments();" icon="fas fa-plus" class="p-button-raised  p-mr-2"></button>
                    <button pButton pRipple label="{{'CUSTOMERPAYMENT.ADDBALANCE'| translate}}" *ngxPermissionsOnly="CustomerPermission.AddBalance" (click)="AddBalance();" icon="fas fa-plus" class="p-button-raised  p-mr-2"></button> -->
                    <button pButton pRipple label="{{'CUSTOMERPAYMENT.ADDPAYMENTNEW'| translate}}" *ngxPermissionsOnly="CustomerPermission.AddBalance" (click)="AddPaymentNew();" icon="fas fa-plus" class="p-button-raised  p-mr-2"></button>
                </ng-template>
        </p-toolbar>

        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        [data]="AllCustomerlist" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
            [rowsPerPageOptions]="rowsPerPageOptions" [row]='25'>
        </app-genric-table>

       
 
 </div>
</div>

