.pay-btn-w{
    width: 110px;
}
.pad-0 {
    padding: 0 !important;
}
.search{
    font-size: 1.3rem;
    // float: right;
    // margin-bottom: 0;
    margin-top: 10px !important;
    // margin-right: 33px;
    // padding-left: 10px;
}
table{
    width: 100%;
}
table, th, td {
    border-bottom: 1px solid #e6e7e7;
    border-collapse: collapse;
  }
  th{
    padding: 5px;
    text-align: left;
  }
  td {
      padding: 5px;
      text-align: center;
  }