<!-- 
 <button style="margin-left: 2px" pButton pRipple type="button" (click)="Print()" 
    class="p-button p-button-success" icon="pi pi-print" title="Print" label="Print"></button>  
<button style="margin-left: 2px" pButton pRipple type="button" (click)="Print1()" 
    class="p-button p-button-success" icon="pi pi-print" title="Packing List" label="Packing List"></button>    -->
    <app-open-purchase-detail-customized-report   [purchaseDetail]="purchaseDetail"></app-open-purchase-detail-customized-report>
<button style="margin-left: 2px" pButton pRipple type="button" routerLink="/purchase/pre-order-customized-report"
    class="p-button p-button-secondary" icon="pi pi-times" title="Close" label="Close"></button>

    
    
<div id="printArea" #screen> 
<p-panel header="Pre Order Information">
  <div class="p-grid">
    <!-- <div class="p-col">
      <label>Supplier:</label>
      {{purchaseDetail.Supplier}}<br>
      {{purchaseDetail.supplierDetail?.PhoneNo || ''}}<br>
      {{purchaseDetail.supplierDetail?.customerEmail || ''}}<br>
      {{purchaseDetail.supplierDetail?.Address || ''}}<br>
    </div> -->
    <div class="p-col">
      <label>Receipt Date:</label>
      {{purchaseDetail.PurchaseDate | date}}
      <br>

      <label>Order Date:</label>
      {{purchaseDetail.DueDate | date}}
    </div>
    <div class="p-col">
      <label>Supplier Invoice No:</label>

      {{purchaseDetail.SuppierInvoiceNo}}
      <br>
      <label>Order No:</label>
      {{purchaseDetail.ID}}

      <!-- {{purchaseDetail.}} -->
    </div>
    <div class="p-col">
      <label>Outlet:</label>
      {{purchaseDetail.Outlet}}
    </div>
    <div class="p-col">
      <label>Remarks:</label>
      {{purchaseDetail.sRemarks}}
    </div>
  </div>
</p-panel>
<br><br>
<p-panel header="Pre Order Detail Information">
  <p-table [value]="purchaseDetail.OpenPurchasesDetails">
    <ng-template pTemplate="header">
      <tr>
        <th>Product</th>
        <th>Model No</th>
        <th>Quantity</th>
        <th>Received Quantity</th>
        <!-- <th>Unit Price</th>
        <th>Discount%</th>
        <th>Discount</th>
        <th>Total</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.Product}}</td>
        <td>{{product.BLabel}}</td>
        <td>{{product.Quantity}}</td>
        <td>{{product.ReceivedQuantity}}</td>

        <!-- <td><span >€ </span> {{product.ProductUnitPrice | number:'1.2-2' }}</td>
        <td>{{product.discPerc}}</td>
        <td><span >€ </span> {{product.dTotalDiscount | number:'1.2-2' }}</td>
        <td><span >€ </span> {{product.dTotalAmount | number:'1.2-2' }}</td> -->
      </tr>
    </ng-template>
  </p-table>
</p-panel>
<br>
</div>
