
 <div class="progress-spinner" *ngIf="IsSpinner">
    <p-progressSpinner></p-progressSpinner>
</div>

<!-- product variant-->

<p-overlayPanel #op1>
    <img src="assets/demo/images/nature/nature1.jpg" alt="Nature 1" />
</p-overlayPanel>

<p-toast></p-toast>

<p-contextMenu #cm [model]="items"></p-contextMenu>
    
<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">
    <div class="card">
        <!-- <h4>Row Expand</h4> -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">

                <button pButton pRipple label="{{'MANAGEDPRODUCT.ADDBRANDS'| translate}}" (click)="AddBrand();" icon="fas fa-plus" class="p-button-raised  p-mr-2"></button>
                
            </ng-template>

        </p-toolbar>
        <p-toolbar styleclass="p-mb-4" *ngIf="IsAdd">
           
            <div >
                <h5>{{'MANAGEDPRODUCT.BRAND'| translate}}</h5>

                <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="firstname1">{{'MANAGEDPRODUCT.NAME'| translate}}</label>
                            <input id="firstname5" type="text" pInputText [(ngModel)]="Brand.Name">
                        </div>
                        <div class="p-field p-col">
                            <label for="lastname1">{{'MANAGEDPRODUCT.DESCRIPTION'| translate}}</label>
                            <input id="lastname5" type="text" pTooltip="Please write abbreviation of the brand to use in product model number. Maximum 3 characters."  pInputText [(ngModel)]="Brand.Description">
                        </div>
                        <div class="p-field" style="margin-right: 1rem;margin-top: 1.7rem">
                            <button pButton pRipple type="button" icon="fas fa-plus" label="{{'MANAGEDPRODUCT.SAVE'| translate}}" (click)="SaveUpdateBrandDetails();"icon="fas fa-plus" class="p-button-raised p-mr-2"></button>
                    
                        </div>
                        <div class="p-field" style="margin-right: 1rem;margin-top: 1.7rem">
                            <button pButton pRipple label="{{'MANAGEDPRODUCT.CLOSE'| translate}}" icon="fas fa-times" class="p-button-raised p-mr-2" (click)="CloseAddSection();"></button>
                        </div>
                    </div>

            </div>

        </p-toolbar>
        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        (emitSwitch)="UpdateBrandStatus($event)"
        [data]="AllBrandList" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
            [rowsPerPageOptions]="rowsPerPageOptions" [row]='25'>
        </app-genric-table>
       
    
    </div>
</div>
