<p-toast></p-toast>
<div class="progress-spinner" *ngIf="IsSpinner">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<!-- <p-contextMenu #cm [model]="items"></p-contextMenu>/ -->

<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">
    <div class="card">
      <div class="top-c">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-2">
            <h6>{{'GENRIC.SEARCHBYDATE'| translate}}</h6>
            <p-dropdown placeholder="Select Search By Date" [options]="SearchByDateDropdown"
              [(ngModel)]="dateId" autoWidth="false" [style]="{'width':'200px'}"
              (onChange)="SearchByDate($event)" required filter="true">
              <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
              </ng-template>
  
            </p-dropdown>
          </div>
        </div> 
    </div>
        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        (emitSwitch)="UpdateCustomerStatus($event)"
        [data]="AllCustomerlist" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
            [rowsPerPageOptions]="rowsPerPageOptions" [row]='25'>
        </app-genric-table>

        
 
 </div>
</div>
<p-dialog
  header="DocumentAttachment"
  [(visible)]="AttachDocumentPopDisplay"
  modal="modal"
  showEffect="fade"
  [style]="{ width: '30vw' }"
>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="card">
        <h5>Document</h5>
       
        <p-fileUpload
        name="myfile[]" 
        mode="advanced"
        customUpload="true"
        (uploadHandler)="myUploader($event)"
        accept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          maxFileSize="1000000"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog header="Select Dates" [(visible)]="isCustomDate" modal="modal" showEffect="fade"
    [style]="{width: '50vw',height:'400px'}">
    <app-datepickerpopup (onSelectValue)='selectValue($event)'></app-datepickerpopup>
</p-dialog>
